.chipsWrapperInput {
  background-color: #eff3fa;
  color: #4e5e7d;
  border: transparent;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  margin: 4px;
}

.chipsWrapperInput::placeholder {
  color: #8b96aa;
}

.chipsWrapperInput:focus {
  outline: none;
}

.chipsWrapper {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  background-color: #eff3fa;
  border-radius: 4px;
}

